  <div class="detail-cinemas">
    {{ cinema.address }}
  </div>
  <div class="container-cinemas">
    <div class="cinemas-map">
      {{ cinema.img }}
    </div>
    <div class="cinemas-right">
      <div class="cinemas-left">
        {{ cinema.map }}
      </div>
    </div>
  </div>
{#<div class="cinemas-left">#}
{#  {{ cinema.map }}#}
{#</div>#}
