  <div class="detail-cinemas">
    {{ cinema.address }}
  </div>
  <div class="container-cinemas row">
    <div class="cinemas-map col-6">
      {{ cinema.img }}
    </div>
    <div class="cinemas-left col-6">
        {{ cinema.map }}
    </div>
  </div>
{#<div class="cinemas-left">#}
{#  {{ cinema.map }}#}
{#</div>#}
